<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
  <test thread-count="5" name="Test">
    
     
       <classes>
        <class name="com.magento.testcases.RegistrationPageTest"/>
      <class name="com.magento.testcases.HomePageTest"/>
      <class name="com.magento.testcases.SalePageTest"/>
      <class name="com.magento.testcases.MyAccountPageTest"/>
      <class name="com.magento.testcases.SignInPageTest"/>
     
    
    </classes>
     
   
  </test> <!-- Test -->
</suite> <!-- Suite -->
